<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'log_reg_app/css/success.css' %}">  
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="card"> 
        <a href="/logout" class="btn btn-danger"> Log Out</a><br>
        <div class="inner"> 
            <h1>Success!</h1>
            <h2>Welcome, {{request.session.user}}!</h2>
            <h5>You have successfully registered (or logged in)!</h5>
            
        </div>  
        <a href="/quotes" class="btn btn-primary"> View Quotes</a>
    </div>
        
</body>
</html>

