.btn-success {
    margin-top: 15px;
}

#reg, #log {
    width: 600px;
    height: auto;
    display:inline-block;
    vertical-align: top;
    margin: 5% 5%;
}

.log_data, .reg_data {
    width: 400px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15%;
}

.heading {
    width: 200px;
    margin: 5% 35%;
}

.form-control {
    padding-top:15px;
    margin-bottom:15px;
}

.heading2 {
    width: 200px;
    margin: 5% 40%;
}

.messages {
    color: red
}